// colors

$menu-background: #181818;
$bm-header-background: #131313;

$menu-text: #6c6c6c;
$parallax-overlay: #00000091;

$kdy-red: #e61212;
$white: #ffffff;
$darkGray: #2f2f2f;
$gray: #444;
$lightGray: rgb(180, 180, 180);
$lightBlue: #aee7ff;
$white_50: rgba(255, 255, 255, 0.5);

$fb_blue: #3d5b99;
$instagram_color: #00aced;
$youtube_color: #e64a41;

$footer-background: #131313;

// responsive sizes

$break-small: 600px;
$break-large: 1200px;
$nav-switch: 875px;

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
