@import "_config.scss";

body {
  font-family: "Montserrat", sans-serif;
  h1 {
    padding: 10px;
    margin: 0px;
    font-size: 40px;
    @media screen and (max-width: $break-small) {
      font-size: 30px;
    }
    @media screen and (min-width: $break-large) {
      font-size: 45px;
    }
  }
  h3 {
    font-size: 18px;
    @media screen and (max-width: $break-small) {
      font-size: 15px;
    }
  }
  h4 {
    font-weight: 700;
    padding: 12px;
  }
}
