@import "_config.scss";

//colors
$color_dove_gray_approx: #727172;
$color_masala_approx: #3a3a3a;

//fonts
$font_0: Helvetica;

.footer {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 3em;
  overflow: hidden;
  margin: 0 auto;
  background: #31708f;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 0.3s ease;
  z-index: 999;

  &:hover {
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 0.3s ease;
    height: 10em;
  }
  #container {
    margin-top: 5px;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: $color_masala_approx;
  }
  #cont {
    position: relative;
    top: -45px;
    right: 190px;
    width: 150px;
    height: auto;
    margin: 0 auto;
  }
  h2 {
    font-size: 25px;
    padding: 0;
    margin: 8px;
    color: $white;
    text-align: center;
  }
  h3 {
    font-family: $font_0;
    font-size: 30px;
    font-weight: 100;
    margin-top: 70px;
    margin-left: 40px;
  }
}
.footer_center {
  width: 500px;
  float: left;
  text-align: center;
}
