@import "_config.scss";

.footer {
  position: absolute;
  width: 100%;
  font-size: 25px;
  background: $darkGray;
  text-align: center;

  h3 {
    color: $white_50;
    display: inline-block;
    font-weight: 600;
    padding: 0 20px;
    margin: 0;
  }
}
.social-icon {
  color: $white;
}
.social-icons {
  display: inline-block;
  padding: 0 20px;
  margin: 0;
  li {
    vertical-align: top;
    display: inline;
  }
  a {
    color: $white;
    text-decoration: none;
  }
}
.fa-facebook-f {
  padding: 20px 20px;
  transition: 0.5s;
  background-color: $darkGray;
  &:hover {
    background-color: $fb_blue;
  }
}
.fa-instagram {
  padding: 20px 20px;
  transition: 0.5s;
  background-color: $darkGray;
  &:hover {
    background-color: $instagram_color;
  }
}

.fa-youtube {
  padding: 20px 20px;
  transition: 0.5s;
  background-color: $darkGray;
  &:hover {
    background-color: $youtube_color;
  }
}
