@import "_config.scss";

.parallax {
  .parallax-image-container {
    height: 350px;
    background: $parallax-overlay;
    @media screen and (max-width: $break-small) {
      height: 265px;
    }
    @media screen and (min-width: $break-large) {
      height: 450px;
    }
  }

  .parallaxTextContainer {
    margin: 0;
    margin-right: -50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    h1 {
      font-size: 60px;
      font-weight: 600;
      color: $white;
      letter-spacing: 5px;
      text-transform: uppercase;

      @media screen and (max-width: $break-small) {
        font-size: 35px;
      }
      @media screen and (min-width: $break-large) {
        font-size: 80px;
      }

      span {
        color: $kdy-red;
        font-size: 180%;
      }
    }

    h2 {
      margin: 0;
      font-size: 13px;
      color: $white;
      letter-spacing: 5px;
      text-transform: uppercase;
      line-height: 25px;
      padding: 0 10px 0 10px;

      @media screen and (max-width: $break-small) {
        font-size: 11px;
      }
      @media screen and (min-width: $break-large) {
        font-size: 16px;
      }
    }
  }
}

.homeHeaderContent {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 60%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  .buttonWrapper {
    button {
      margin: 5px 4px 30px 4px;
      padding: 8px;
      font-size: 14px;
      width: 210px;

      @media screen and (max-width: $break-small) {
        margin: 2px 2px 5px 2px;
        padding: 4px;
        font-size: 12px;
        width: 150px;
      }
      @media screen and (min-width: $break-large) {
        margin: 10px 6px 35px 6px;
        padding: 12px;
        font-size: 16px;
        width: 270px;
      }
    }
  }
}

.logo {
  width: 210px;
  height: 210px;

  @media screen and (max-width: $break-small) {
    width: 150px;
    height: 150px;
  }
  @media screen and (min-width: $break-large) {
    width: 270px;
    height: 270px;
  }
}
