@import "_config.scss";

.homeIntroLine {
  background: $white;
  text-align: center;
  padding: 28px;
  @media screen and (max-width: $break-small) {
    padding: 15px;
  }
  @media screen and (min-width: $break-large) {
    padding: 38px;
  }
  h1 {
    color: $darkGray;
    span {
      color: $kdy-red;
      font-weight: 600;
    }
  }
}

.videoBackground {
  background: linear-gradient(180deg, $white 25%, $darkGray 25%);

  .videoWrapper {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 800px;
    .resposiveVideoContainer {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      max-width: 100%;
      iframe,
      object,
      embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.homeStatement {
  background: $darkGray;
  padding: 20px;
  margin-top: -2px; //1px gap shows between rows sometimes
  text-align: center;
  color: $white;
  h2 {
    padding-bottom: 20px;
  }
  h3 {
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .container-fluid {
    max-width: 1200px;
    padding: 30px;
    .box {
      margin-bottom: 25px;
      padding: 30px;
      border-radius: 5px;
      background: $gray;
      .fa {
        color: $kdy-red;
      }
    }
  }
}

.clientList {
  text-align: center;
  background: $white;
  padding: 40px 0;
  h1 {
    padding-bottom: 35px;
  }
  .clientListLogos {
    max-width: 900px;
    margin: 0 auto;
    img {
      height: 120px;
      width: 120px;
      margin: 0 25px;
      @media screen and (max-width: $break-small) {
        height: 90px;
        width: 90px;
        margin: 0 10px;
      }
    }
  }
}

.testimonials {
  text-align: center;
  h1 {
    border-radius: 0 0 10px 10px;
    color: $white;
    padding: 35px 25px 25px 25px;
    display: inline-block;
  }
  h3 {
    padding: 0 0 25px 0;
    color: $white;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    display: inline-block;
    @media screen and (max-width: $break-small) {
      font-size: 12px;
    }
  }
  span {
    font-weight: 600;
    display: block;
    padding-top: 2px;
    color: $lightBlue;
  }

  .slick-prev {
    margin-left: 40px;
    z-index: 99;
  }

  .slick-next {
    margin-right: 40px;
  }

  .testimonialContainer {
    width: 65%;
    margin: auto;
    padding: 30px 0;
    color: $white;
    @media screen and (max-width: $break-small) {
      padding: 40px 0;
    }
    .fa-quote-left {
      color: $white_50;
      float: left;
      margin: -5px 0px;
    }
    .fa-quote-right {
      color: $white_50;
      float: right;
      margin: -5px 0px;
    }
    h2 {
      color: $white;
      font-style: italic;
      font-size: 25px;
      margin: 0px;
      padding: 0px 30px;
      display: inline-block;
      @media screen and (max-width: $break-small) {
        font-size: 18px;
      }
    }
  }
  .react-parallax {
    .react-parallax-content {
      background: $parallax-overlay;
    }
  }
}
